# Rust / Cargo
target/
**/target/

# Node.js
node_modules/
dist/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.*
*.env

# Secrets
*.keys
*.secret
*.pem

# Logs
*.log
logs/
